<!DOCTYPE html>
<html>
 <head>
  <title>Ma Todo-List</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type="text/css">

  body {
	  font-family: verdana; 
	  font-size: 1.2em;
  }

  ul {
	list-style-type: square;
  }

  ul button {
	float: right;
  }

  li {
	height: 2em;
	border-top: black 1px solid;
  }

  li:last-child {
	border-bottom: black 1px solid;
  }
  </style>
 </head>
 <body>
  <header>
   Ma Todo-List
  </header>
  <section id="todo_list">
   <ul>
<% for (let i = 0; i < todoList.length; i++) { %>
   <li><%= todoList[i] %><button>X</button><button>M</button></li>
<% }  %>
   </ul>
   <form method="post" action="/addTodo">
    <input type="text" name="todo_input" id="add_entry_input" placeholder="Ajouter une tâche" /><input type="submit" id="add_entry_button" value="Valider" />
   </form>
  </section>
  <script>
   window.document.querySelector('#add_entry_input').focus();
   window.document.querySelector('form').addEventListener('submit', function (e) {
		//e.preventDefault();
		//console.log('ok');
   });
  </script>
 </body>
</html>
